<template>
  <div class="hello" style="text-align: left">
    <h1>{{ title }}</h1>
    <table>
      <thead>
      <tr>
        <th style="width: 250px">Model</th>
        <th style="width: 250px">Price</th>
        <th style="width: 250px">State</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="eachShoeData in getShoeData" :key="eachShoeData.shoeId">
        <td>{{eachShoeData.model}}</td>
        <td>{{eachShoeData.shoePrice}}</td>
        <td>{{getShoeState(eachShoeData)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: 'NikeShoes',
  props: {
    title: String
  },
  data: () => {
    return {
      shoeData: {}
    }
  },
  methods: {
    getShoeState(shoeData) {
      if (shoeData.shoePrice < 0){
        return "Error!"
      }
      if (shoeData.shoePrice < shoeData.minPrice) {
        return "Best time to buy!";
      } else if (shoeData.shoePrice > shoeData.maxPrice) {
        return "Can wait for discount";
      } else {
        return "Moderate state, can buy now!";
      }
    }
  },
  created() {
    // Simple POST request with a JSON body using fetch
    const requestOptions = {
      method: "GET",
      headers: { "Content-Type": "application/json" },
      mode: 'cors',
    };
    // fetch(`api/shoe-price/`, requestOptions) //uncomment this line of code for production
    fetch(`http://localhost:8081/api/shoe-price`, requestOptions)
  .then(response => {
      return response.json()
            })
            .then((res) => {
              let data = res
              if (typeof res === "string") {
                data = JSON.parse(res)
              }
              this.shoeData = data
            });
  },
  computed:{
    getShoeData: function () {
      return this.shoeData.filter(i => i.shoePrice > 0)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
